# Keep in sync with .circleci/config.yml

# https://github.com/erlang/otp/tags
erlang_version=25.1.2

# https://github.com/elixir-lang/elixir/tags
elixir_version=1.14.1

# https://hub.docker.com/r/hexpm/elixir/tags: find a version supporting the combination above
alpine_version=3.17.0

always_build_deps=false
config_vars_to_export=(SECRET_KEY_BASE AUTH_KEY)
