<div class="content">
  <header>
    <h1 class="main-title"><a href="/">Gridlook</a></h1>
  </header>
  <%= @inner_content %>
  <footer>
    <img class="dinomail" src={~p"/dinomail.gif"} alt="" />
    <p>
      <a href="http://github.com/barsoom/gridlook">Gridlook</a>
      by <a href="http://barsoom.se">Barsoom</a>.
    </p>
  </footer>
</div>
<script src={~p"/assets/app.js"}></script>
